<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <input type="text">
    <button id="btn">Click</button>
    <div id="video"></div>
</body>

<script>
    let btn = document.querySelector('#btn')
    btn.addEventListener('click', () => {
        let link = document.querySelector("input").value
        let video_id = link.split('v=')[1]
        var ampersandPosition = video_id.indexOf('&');
        if (ampersandPosition != -1) {
            video_id = video_id.substring(0, ampersandPosition);
        }
        let video =`<iframe width="420" height="315"
            src="https://www.youtube.com/embed/${video_id}">
                        </iframe>`
        $("div").append(video)
    })
</script>

</html>