*{
    box-sizing: border-box;
}
.login_body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to left, #1cdada,#db1e86, #ec2626 )
}
.card_login_box{
    width: 100%;
    padding: 10%;
    top: 50%;
    left: 50%;
    background: #252323;
    text-align: center;
    transition: 0.25s;
    margin-top: 20%;
    border-radius: 12%;
    -webkit-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
}
.a{
    float: left;
    
}
.login_title_login{
    font-size: 300%;
    color: antiquewhite;
    font-variant: normal; 
    color: white;
    font-weight: 20%; 
    line-height: 110%;
    margin-bottom: 5%;
} 
.google_icon{
    width:20%;
    height:15%
}
.login_description{ 
    font-family: "Francois One"; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 110%; 
    color: grey;
}
.login_account_textbox{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 75%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}
.login_password_textbox{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 75%;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}
.login_account_textbox:focus,
.login_password_textbox:focus {
    width: 85%;
    border-color: pink
}   
.login_checkbox{
    color: white;
    font-size: 15px
}
.login_button_login{
    border: 0;
    background: none;
    display: block;
    width: 75%;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.index_body{
    background-color: #a7a7a7;
}

.aa{
    margin-top: 10%;
}


.index_logo_homepage{
    font-size: 35px;
}
.nav-index{
    display: flex;
}
.okok{
    background-color:#3498db;
}

.index_khoa{
    position:fixed;
    left: 0;
}
.tungkhoa{
    padding: 2%;
}

.khoakhoa{
    height: 100%;
    width: 100%;
}

.index_add_user_alert{
    display: none;
}
.index_button_link_image_new_post{
    display: none;
}
.index_button_link_video_new_post{
    display: none;
}
.indexpage{
    width: 100%;
}

.collapse-index{
    justify-content: flex-end;
}

.index_post_title_option{
    display: flex;
    width: 100%;
}
.index_post_avtname{
    width: 99%;
}
.index_option_post{
    justify-content: flex-end;
    cursor: pointer;
    outline: none;
}

.index_avt_profile_in_the_tab{
    width: 20px;
    border-radius: 20px;
    height: 20px;
}

.index_video_post{
    width: 100%;
    height: 312px;
}

.index_img_post{
    width: 100%;
    height: 315px;
}

.ba_cai_phim{
    width: 100%;
}

.index_alert_post_fail{
    display: none;
}
.index_button_video_new_post{
    width: 50%;
}
.index_button_image_new_post{
    width: 49%;
}


.index_post{
    padding: 1em;
    overflow: hidden;
}
.index_your_post{
    border-radius: 25px;
    padding: 1em;
}
.index_new_post_button_video{
    width: 30%;
}




.index_poster{
    padding: 1%;
    margin-top: 2%;
}
.index_modal_type{
    width: 100%;
    border-radius: 25px;
    height: 200px;
}
.index_body_modal_new_post{
    padding: 2%;
}
.index_button_post_new_post{
    width: 100%;
}
.index_button_in_the_post{
    border-radius: 50px;    
    background: none;
    display: block;
}
.index_on_the_cmt{
    padding: 1em;
}
.index_avt_post{
    width: 45px;
    border-radius: 25px;
    height: 45px;
}
.index_cmt{
    display: flex;
    width: 100%;
    margin-top: 2%;
}
.index_da_cmt{
    margin-left: 5%;
    display: flex;
}
.noidungcmt{
    width: 100%;
    padding: 1%;
}
.index_avt_cmt{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
.index_cmt_texbox{
    width: 100%;
    border-radius:30px;
}


.index_button_in_the_cmt{
    width: 100%;
    outline: none;
    background: none;
    display: block;
    border-radius: 50px;   
}

.header_thongbao_quantrong{
    width: 100%;
}

.index_thongbaoquantrong{
    right: 0;
    position: fixed;
    overflow: scroll;
}

.index_thongbaoquantrong_title{
    font-size: 15px;
    color: black;
    width: 100%;
}

.thongbao_info{
    padding: 1%;
    color: rgb(38, 0, 255);
}

.thongbao_info:hover{
    padding: 1%;
    text-decoration: none;
    color: black;
}

.title_thongbao{
    font-weight: bold;
    font-size: 15px;
}

.noidungthongbao{
    font-size: 12px;
    overflow: hidden;
    height: 20px;
}

.ngaythongbao{
    font-style: italic;
}

.header_thongbao_quantrong{
    width: 100%;
    
}
.index_thongbaoquantrong_title{
    font-size: 20px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 992px ){
    .index_thongbaoquantrong,.index_khoa{
        display: none;
        right: 0;
    }
}

.dacmt{
    display: flex;
}


.bb{
    background-color: #afafaf;
}
.choichoi{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.profile_info{
    margin-top: 13%;
    height:100%;
    background-color: #ffffff;
    
}
.caianh{
    text-align: center;
}
.profile_avatar{
    width: 250px;
    height: 250px;
    border-radius: 500px;
    border: 5px solid;
    
}
.profile_name{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}
.profile_label_name,.profile_label_email,.profile_label_faculty{
    width: 10%;
}
.namename,.emailemail,.facultyfaculty{
    display: flex;
}
.profile_info_name,.profile_info_email,.profile_info_faculty{
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.caigido{
    padding: 1%;
    margin-bottom: 2%;
}

.profile_timeline{
    margin-top: 10%;
}

.profile_update_name{
    text-align: center;
}

.profile_edit_profile_alert_danger{
    display: none;
}

.noti_body{
    margin-top: 12.5%;
    background-image: url(../images/background.jpg);
}
.phantrang{
    display: flex;
    justify-content: center;
    
}
.notinoti{
    background-color: #dbdbdb;
}
.khoathongbao{
    font-style: italic;
    font-size: 14px;
}
.listtrang{
    text-align: center;
}
.page_of_list{
   color: black;
   float: left;
   padding: 8px 16px;
   transition: background-color .3s;
 }

 .page_of_list.active {
   background-color: dodgerblue;
   text-decoration: none;
   color: white;
 }

 .page_of_list:hover:not(.active) {
     
    text-decoration: none;
    background-color: #ddd;
  }

  .btncreatetb{
    height: 50px;
    font-size: large;
    font-weight: bold;
    margin: 5%;
    border-radius: 25px;
}
@media screen and (min-width: 992px ){
    
    .create_noti{
        left:66%;
        bottom:60%;
    }
}
.detail_list_noti{
    height:100%;
}
.detail_title_thongbao{
    font-weight: bold;
    font-size: 32px;
}
.detail_khoathongbao{
    font-size: 24px;
}
.detail_noidungthongbao{
    font-size: 18px;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
}
.detail_ngaythongbao{
    font-style: italic;
    font-size: 20px;

}
.detail_thongbaoquangtrong{
    width: 100%;
    height: 100%;
    
}