<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/javascripts/main.js"></script>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
<body class="login_body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
                <div class="card_login_box">
                    
                        <div class="a">
                            <div class="login_title_login">
                                LOGIN  
                               <a href="/auth/google"> <img src="/images/google.png" class="google_icon" alt="" /></a>
                            </div>
                        </div>
                        <br>
                        <div class="login_description">
                            <p> Please enter your student email and password!</p>
                        </div>
                        <form action="" method="post">
                            <div>
                                <input class="form-control login_account_textbox" type="text" value="<%= email %>" name="email" id ="" placeholder="Email">
                            </div>
                            <div>
                                <input class="form-control login_password_textbox" type="password"  name="password" id ="" placeholder="Password">
                            </div>
                            <% if(error.length > 0) { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= error %>
                                </div>
                            <% } %>
                                <div class="login_checkbox">
                                <input  type="checkbox" name="remember" id ="" placeholder="Check"> Remember me
                            </div>
                            <div>
                                <input class="btn btn-success login_button_login" type="submit" name="" id="" value="Login" href="#">
                            </div>
                        </form>
                        
                </div>
            </div>
        </div>
    </div>
</body>
</html>