</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not access</title>
    <%- include('includes/library') %>
</head>
<body class="noti_body">
    <div class="container">
        <div class="=justify-content-center">
            <div class="row thongbaonot">
                <div class=" col-xs-12 col-md-12 col-sm-12 col-lg-12 col-xl-12">
                    <div class="alert alert-danger" id="thongbao" role="alert">
                        You cannot access this page! Only the administrator can access. Please log in with an administrator account.
                      </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>